/* @import url(./tcs-d.css); */

a {
    color: var(--primary-color);
    text-decoration: none !important;
    transition-duration: 0.2s;
    transition-property: color;
}

a:hover {
    color: var(--primary-color-darker);
}

mark a,
mark .md-content.md-url {
    color: var(--primary-color-darker2);
}

mark a:hover {
    color: var(--primary-color-darkest);
}

.ty-preferences a {
    color: var(--primary-color);
}


a[type="page-link"] {
    display: block;
    background-color: white;
    box-shadow: rgba(116, 129, 141, 0.2) 0px 3px 8px 0px;
    border: 1px solid var(--borders);
    border-radius: 0.3rem;
    padding: 1rem;

    font-weight: 600;

    transition-duration: 0.2s;
    transition-property: border, box-shadow;
}

a[type="page-link"]:hover {
    box-shadow: rgba(116, 129, 161, 0.1) 0px 3px 8px 0px;
    border: 1px solid var(--primary-color);
}
