/*BLOCKQUOTE*/

blockquote {
    width: 100%;
    background-color: var(--boxes);
    border-left: 4px solid var(--primary-color);
    border-radius: 0.3rem;
    padding: 1rem;
    border-right: 4px solid var(--boxes); /* removes arc with tiny blue color from top-right and bottom-right corner */
}

blockquote blockquote {
    padding-right: 0;
}