/*FOOTER*/

footer.ty-footer {
    border: none;
}

.footer-item {
    opacity: 1 !important;
    color: var(--light-text-color);
    transition: 0.3s;
}

.footer-item:hover {
    color: var(--light-text-color-darker) !important;
}

#outline-btn:hover {
    color: var(--light-text-color-darker) !important;
}

/*FOOTER*/

.footer-item:hover {
    background-color: var(--boxes) !important;
}

#footer-word-count-info {
    padding: 4px 0;
}

.footer-word-count-info-line {
    padding: 0.25rem;
    line-height: 1.6rem;
}

#footer-word-count-info tr {
    font-weight: 500;
    font-size: 0.8rem;
    transition-duration: 0.2s;
    transition-property: all;
}

#footer-word-count-info tr td:nth-child(1) {
    padding: 0rem;
    padding-right: 1rem;
}

#footer-word-count-info .ty-footer-word-count-all tr:hover {
    color: var(--primary-color) !important;
    background-color: var(--boxes) !important;
}