


h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    color: var(--heading-text-color);
    cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}

h1 tt,
h1 code {
    font-size: inherit;
}

h2 tt,
h2 code {
    font-size: inherit;
}

h3 tt,
h3 code {
    font-size: inherit;
}

h4 tt,
h4 code {
    font-size: inherit;
}

h5 tt,
h5 code {
    font-size: inherit;
}

h6 tt,
h6 code {
    font-size: inherit;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.2rem;
    border-bottom: solid 1px var(--borders);
}

h2 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.15rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

h6 {
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
/* 标题的提示字样 */
#write > h1.md-focus:before {
    content: "h1";
    top: 1.15rem;
    left: -1.75rem;
}

#write > h2.md-focus:before {
    content: "h2";
    top: 0.75rem;
    left: -1.75rem;
}

#write > h3.md-focus:before {
    content: "h3";
    top: 0.575rem;
    left: -1.75rem;
}

#write > h4.md-focus:before {
    content: "h4";
    top: 0.4rem;
    left: -1.75rem;
}

#write > h5.md-focus:before {
    content: "h5";
    top: 0.25rem;
    left: -1.75rem;
}

#write > h6.md-focus:before {
    content: "h6";
    top: 0.25rem;
    left: -1.75rem;
}

#write > h1.md-focus:before,
#write > h2.md-focus:before,
#write > h3.md-focus:before,
#write > h4.md-focus:before,
#write > h5.md-focus:before,
#write > h6.md-focus:before {
    color: var(--light-text-color);
    border: none;
    position: absolute;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0px;
    line-height: 1;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
    margin-top: 0rem;
}