/*MATH*/

.md-rawblock-container {
    padding: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition-duration: 0.2s;
}

.md-rawblock:hover .md-rawblock-container {
    background-color: var(--boxes);
}

.md-rawblock:active .md-rawblock-container {
    background-color: var(--boxes-darker);
}

.MathJax_SVG:focus {
    outline: none;
}

.md-rawblock-panel,
.md-rawblock-control:not(.md-rawblock-tooltip) {
    border-radius: 0.3rem;
    background-color: var(--boxes);
}

.md-rawblock-panel .code-tooltip {
    box-shadow: none;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.md-rawblock-panel .CodeMirror-linenumber {
    color: var(--light-text-color);
    opacity: 1;
}

.md-rawblock-panel .CodeMirror div.CodeMirror-cursor {
    border-left: solid 1px var(--text-color);
}

.md-mathblock-panel .md-mathjax-preview,
.mathjax-candidate {
    border-top: solid 1px var(--borders);
}

.md-rawblock-after,
.md-rawblock-before {
    cursor: default;
    color: var(--light-text-color);
    user-select: none;
    -webkit-user-select: none;
}

.md-rawblock-tooltip-name {
    font-size: 13px;
    color: var(--light-text-color);
    opacity: 1;
}

.md-rawblock-on-edit > .md-rawblock-tooltip {
    padding-right: 0px;
}

.md-rawblock-input span.cm-tag {
    color: #0bb6ad;
}

.md-rawblock-input span.cm-atom,
.md-inline-math script {
    color: #b61ed4;
}

.md-rawblock-input span.cm-number {
    color: #ec7200;
}

.md-rawblock-input span.cm-keyword {
    color: #156db6;
}

.md-mathblock-input span.cm-bracket {
    color: var(--light-text-color);
}

#math-inline-preview.code-tooltip {
    border-radius: 0.3rem;
    background-color: var(--bg-color);
    box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
    color: var(--text-color);
    opacity: 1;
}

#math-inline-preview.code-tooltip .code-tooltip-content {
    border: solid 1px var(--borders);
}

#math-inline-preview.code-tooltip .md-arrow:after {
    background-color: var(--bg-color);
    border: solid 1px var(--borders);
    box-shadow: none;
}