/*PREFERENCES*/

.ty-preferences {
    font-family: var(--font-family);
}

.ty-preferences .window-header {
    justify-content: space-between;
    box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
    border-bottom: solid 1px var(--borders);
}

.ty-preferences .window-header-content {
    background-color: white;
    margin: 0rem;
}

.ty-preferences .window-header h2 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0rem;
    margin-left: 1rem;
}

.unibody-window .ty-preferences .window-header h2 {
    margin-left: 1rem !important;
}

.ty-preferences .window-header-back {
    margin-left: 1.2rem;
}

.ty-preferences .window-header-back .icon {
    border-right: none;
}

/*preferences sidebar*/
.ty-preferences .window-content {
    background-color: white;
}

.ty-preferences .nav-group-item {
    color: var(--text-color);
    height: 2.5rem;
    line-height: 2.6rem;
    font-weight: 500;
    padding: 0px 0px 0px 2rem;
    font-size: 1rem;
    transition-duration: 0.2s;
    transition-property: background-color;
}

.ty-preferences .nav-group-item:hover {
    background-color: var(--borders);
    border-radius: 0px;
}

.ty-preferences .nav-group-item.active {
    border-radius: 0rem;
    border: none;
    outline: 1px solid var(--borders);
    background-color: white;
    color: var(--primary-color);
}

.ty-preferences .pane-sm {
    background: var(--boxes);
    flex-basis: 240px;
    flex-grow: 0;
    justify-content: center;
    border-right: 1px solid var(--borders);
    margin: 0rem;
    padding: 0rem;
}

.ty-preferences .pane-sm .list-group {
    width: 100%;
    max-width: 30rem;
}

.ty-preferences .list-group-header {
    display: flex;
    justify-content: space-around;
}

.ty-preferences .list-group-header div {
    width: 100%;
    margin-right: 18px;
    margin-left: 18px;
}

.ty-preferences .pane-sm .search-input {
    margin: 0rem !important;
    width: 100%;
    font-size: 1rem !important;
    height: 2.75rem;
}

.ty-preferences .pane-sm .search-input:active,
.ty-preferences .pane-sm .search-input:focus {
    border: solid 1px var(--primary-color) !important;
    outline: none;
}

/*preferences main*/
.ty-preferences .panel-header {
    font-weight: 600;
    font-size: 1.6rem;
}

/*preferences stuff*/
.ty-preferences .dropdown-menu > li,
.dropdown-item {
    font-weight: 500;
    font-size: 1rem;
    transition-duration: 0.2s;
    transition-property: all;
}

.ty-preferences .dropdown-menu .active,
.ty-preferences .dropdown-menu li:hover,
.dropdown-item:hover {
    background-color: var(--boxes);
    color: var(--primary-color);
}

#ty-spell-check-dict-missing-secondary-btn:hover {
    color: var(--primary-color) !important;
}

.header-close .icon {
    border: none !important;
}

/*preferences export*/

.export-detail {
    background-color: transparent !important /*required*/;
}

.export-items-list .separator {
    margin: 0.4rem;
    border-top: 1px solid var(--borders);
}

.export-items-list-control {
    background-color: var(--boxes) !important /*required*/;
}

.export-item {
    padding: 0.4rem !important /*required*/;
    color: var(--light-text-color-darker);
    font-weight: 500;
    cursor: pointer;
}

.export-item.active {
    background-color: transparent !important /*required*/;
    color: var(--primary-color);
    font-weight: 500 !important /*required*/;
}