/*SIDEBAR*/

#typora-sidebar {
    border-right: solid 1px var(--borders);
}

#typora-sidebar, #typora-sidebar-resizer, content {
    border-top: solid 1px var(--borders-top-margin);
} /* adds dark borders below top margin */

.mac-seamless-mode content {
    border-top: solid 1px transparent;
} /* don't show top margin border in seamless mode */

.info-panel-tab {
    opacity: 1;
}

.sidebar-tab {
    text-transform: capitalize;
    color: var(--light-text-color);
}

.info-panel-tab-border {
    color: var(--primary-color);
    border-radius: 2px;
}

#ty-sidebar-search-back-btn {
    margin: auto;
}

.ty-show-outline-filter #file-library-search,
.ty-show-search #file-library-search {
    height: 4rem;
}

#file-library-search-input {
    height: 2rem;
}

#file-library-search-panel input {
    margin-top: 8px !important;
}

.ty-sidebar-search-panel .searchpanel-search-option-btn,
#ty-sidebar-search-tabs .searchpanel-search-option-btn {
    top: 15px;
}

#typora-sidebar #filesearch-case-ion-btn,
#typora-sidebar #filesearch-word-ion-btn {
    background: none;
    margin-top: 0.45rem;
    transition-duration: 0.2s;
    transition-property: background-color;
}

#typora-sidebar #filesearch-case-ion-btn:hover,
#typora-sidebar #filesearch-word-ion-btn:hover {
    color: var(--primary-color);
}

/*sidebar loading*/

#typora-sidebar #sidebar-loading-template {
    padding: 0px;
}

#typora-sidebar #sidebar-loading-template .typora-search-spinner {
    opacity: 1;
    color: var(--light-text-color-darker);
}

#typora-sidebar #sidebar-loading-template .typora-quick-open-info {
    color: var(--light-text-color-darker);
    font-size: 0.9rem;
    font-weight: 500;
}

/*sidebar outline*/

#close-outline-filter-btn {
    top: 15px;
    opacity: 1;
    color: var(--light-text-color) !important;
}

#close-outline-filter-btn:hover {
    color: var(--primary-color) !important;
    background-color: transparent !important;
}

#close-outline-filter-btn:active {
    background-color: transparent !important;
}

#outline-content {
    padding-right: 0px;
    line-height: 1rem;
}

.outline-item {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
}

.outline-item .outline-label {
    display: block;
    width: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-right: solid 2px transparent;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--light-text-color-darker);
}

.outline-item:hover {
    background: none;
}

.outline-item:hover .outline-label {
    color: var(--primary-color);
}

.outline-label:hover {
    text-decoration: none;
}

.outline-active.outline-label {
    border-right: solid 2px var(--primary-color);
    font-weight: 500;
    color: var(--primary-color);
}

.outline-expander {
    padding-top: 0.4rem;
    padding-right: 0.5rem;
}

#toc-dropmenu .outline-label {
    line-height: 1rem;
}

#toc .outline-title {
    margin-top: 9px;
    font-size: 1rem;
    font-weight: 500;
    user-select: none;
}

#pin-outline-btn {
    padding: 14px 18px 0px 0px;
}

/*sidebar file-list and search results*/

#file-library-list[data-state="complete"] #sidebar-loading-template {
    padding: 0rem;
}

#typora-sidebar .file-list-item,
.ty-search-item {
    border: none;
    padding: 1rem;
}

body.html-for-mac #typora-sidebar .file-list-item,
body.html-for-mac .ty-search-item {
    transition-duration: 0.3s !important;
    transition-property: background-color, border, color, height !important;
}

#typora-sidebar .file-list-item:hover,
.ty-search-item:hover {
    background: var(--borders);
}

#typora-sidebar .ty-search-item-line {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin-left: 24px;
}

body.html-for-mac #typora-sidebar .ty-search-item-line {
    transition-duration: 0.2s;
}

#typora-sidebar .ty-search-item-line * {
    opacity: 1;
}

#typora-sidebar .ty-search-item .ty-search-item-line:hover,
#typora-sidebar .ty-search-item-line.active {
    background-color: var(--select-text-bg-color);
    color: white;
} /* makes easier identifying which searched item is active in the sidebar */

#typora-sidebar .file-list-item-file-name {
    font-weight: 800;
    font-size: 0.9rem;
    margin-bottom: 0rem;
    line-height: 1.8rem;
    float: right;
}

#typora-sidebar .file-list-item-file-ext-part {
    font-weight: 800;
    opacity: 0.5;
}

#typora-sidebar .file-list-item-parent-loc,
#typora-sidebar .file-list-item-time {
    font-family: var(--font-family);
    font-weight: 400;
    opacity: 0.5;
    display: block;
}

#typora-sidebar .file-list-item-summary {
    float: left;
    font-size: 0.8rem;
    opacity: 0.9;
}

#typora-sidebar input.file-list-item-file-name {
    margin: 0.5rem 0rem 0.5rem 0.7rem;
    padding: 0.4rem !important;
    line-height: 1rem;
    float: right;
    border-radius: 0.3rem;
    font-weight: 500;
    background-color: white !important;
}

#typora-sidebar .file-list-item-count {
    font-size: 0.75rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.2rem;
    min-width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    line-height: 1.25rem;
    position: relative;
    top: 0.3rem;
}

#typora-sidebar .file-list-item.file-library-file-node {
    border: none;
}

#typora-sidebar .file-tree-node.active .file-node-background,
#typora-sidebar .file-list-item.active,
#typora-sidebar .ty-search-item.active {
    background-color: white;
    outline: 1px solid var(--borders);
    border: none;
    color: var(--primary-color) !important;
}

#typora-sidebar .file-tree-node.active .file-node-content {
    color: var(--primary-color) !important;
}

#typora-sidebar .file-tree-node {
    padding: 0rem;
    font-weight: 500;
    font-size: 0.9rem;
    margin-left: 0.8rem;
}

#typora-sidebar .file-tree-node .file-node-content {
    padding: 0rem;
    line-height: 2.2rem;
    height: 2.2rem;
    background: none;
    margin-bottom: 0px;
}

#typora-sidebar .file-tree-node .file-node-background {
    padding: 0rem;
    height: 2.2rem;
}

#typora-sidebar .file-tree-node .file-node-icon {
    margin-right: 0.5rem;
}

#typora-sidebar .file-tree-node .file-node-icon.fa-file-text-o {
    margin-top: 0.33rem;
}

#typora-sidebar .file-tree-node .file-node-icon.fa-folder {
    margin-top: 0.36rem;
}

#typora-sidebar .file-tree-node .fa-caret-down,
#typora-sidebar .file-tree-node .fa-caret-right {
    position: relative;
    top: 5px;
}

#typora-sidebar .file-tree-node .file-tree-rename-input {
    height: 2.2rem;
    background: none;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0rem;
    padding-left: 0rem;
}

#typora-sidebar .ty-search-item-collapse-icon {
    top: 9px;
}

/*no left border*/
#typora-sidebar .file-tree-node.active > .file-node-background {
    border: none;
}

/*no dotted highlighting*/
.file-library-node:not(.file-node-root):focus > .file-node-content {
    outline: none;
}

#typora-sidebar #sidebar-files-menu {
    border: solid 1px var(--borders);
    border-radius: 0.3rem;
    box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
}

#typora-sidebar #ty-sidebar-footer {
    background-color: var(--bg-color);
    border-top: solid 1px var(--borders);
    font-weight: 500;
}

#typora-sidebar #ty-sidebar-footer li {
    transition-duration: 0.2s;
    transition-property: background-color, color;
}

#typora-sidebar
    #ty-sidebar-footer
    li:not(.file-sort-item):not(:first-child):not(.empty-menu-group):not(.folder-menu-group):hover {
    color: var(--primary-color);
    background-color: var(--boxes);
}

#typora-sidebar
    #ty-sidebar-footer
    .file-action-item.file-sort-item
    > span:first-of-type {
    line-height: 2rem;
}



/*cursor*/
.file-node-content:hover {
    cursor: pointer;
}

body.html-for-mac
    .file-tree-node:not(.file-node-root):not(.file-node-expanded)
    .file-node-background {
    transition-duration: 0.2s;
    transition-property: background-color;
}

.file-tree-node:not(.file-node-root):not(.file-node-expanded):hover
    .file-node-background {
    background-color: var(--borders);
}

#typora-sidebar .sidebar-footer-item {
    transition-duration: 0.2s;
    transition-property: background-color, color;
    font-weight: 700;
}

#typora-sidebar .sidebar-footer-item:hover {
    color: var(--primary-color);
    background-color: var(--boxes);
}

#typora-quick-open {
    background-color: white;
    border: 1px solid var(--borders);
    border-radius: 0.3rem;
    padding: 0rem;
    box-shadow: rgba(116, 129, 141, 0.15) 0px 3px 16px 0px;
    overflow: hidden;
}

#typora-quick-open-input {
    margin-right: 20px;
}

#typora-quick-open-input .input {
    box-shadow: none !important /*required*/;
    border: none !important /*required*/;
    font-weight: 400 !important /*required*/;
    margin: 0.5rem;
    margin-left: 0.8rem;
}

.typora-quick-open-item {
    background-color: white;
    border: none;
    font-weight: 500;
    transition-duration: 0.2s;
    transition-property: background-color;
}

.typora-quick-open-item:hover {
    background-color: var(--boxes);
    color: var(--primary-color);
}

.typora-quick-open-item.active {
    background-color: var(--boxes);
    border: none;
}

.typora-quick-open-item-path {
    opacity: 1;
    color: var(--light-text-color);
}

.typora-quick-open-item:hover .typora-quick-open-item-path {
    opacity: 0.7;
    color: var(--primary-color);
}

.ty-quick-open-category-title {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    opacity: 1;
    color: var(--light-text-color);
    line-height: 32px;
    padding-top: 6px;
    height: 32px;
}

/** focus mode */
.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

.md-lang {
    color: var(--primary-color);
}