/** 红底白字 **/
#write span[alt="rw"] {
  padding: 0.2em 0.6em;
  font-size: 90%;
  font-weight: 400;
  line-height: 1;
  color: white;
  background-color: #e91e64;
  text-align: center;
  /*white-space: nowrap;*/
  vertical-align: baseline;
  border-radius: 0.1rem;
  border-radius: 6px;
}

/** 抖音字效 **/

@-webkit-keyframes uk-text-shadow-glitch {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: -1px -1px 0 #ff0048, 1px 1px 0 #3234ff;
  }
  50% {
    text-shadow: 1px -1px 0 #ff0048, -1px 1px 0 #3234ff;
  }
  75% {
    text-shadow: -1px 1px 0 #ff0048, 1px -1px 0 #3234ff;
  }
  to {
    text-shadow: 1px 1px 0 #ff0048, -1px -1px 0 #3234ff;
  }
}
@keyframes uk-text-shadow-glitch {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: -1px -1px 0 #ff0048, 1px 1px 0 #3234ff;
  }
  50% {
    text-shadow: 1px -1px 0 #ff0048, -1px 1px 0 #3234ff;
  }
  75% {
    text-shadow: -1px 1px 0 #ff0048, 1px -1px 0 #3234ff;
  }
  to {
    text-shadow: 1px 1px 0 #ff0048, -1px -1px 0 #3234ff;
  }
}

span[alt="shake"] {
  -webkit-animation: uk-text-shadow-glitch 0.95s cubic-bezier(1, -1.91, 0, 2.79)
    0s infinite normal both running;
  animation: uk-text-shadow-glitch 0.95s cubic-bezier(1, -1.91, 0, 2.79) 0s
    infinite normal both running;
}

/** 彩虹变换字体特效 **/

@-webkit-keyframes rainbowan {
  to {
    background-position: -2000vw;
  }
}
@keyframes rainbowan {
  to {
    background-position: -2000vw;
  }
}
span[alt="rainbow"],
span[alt="rainbow"] * {
  padding-top: 3px;
  background-image: linear-gradient(
    to left,
    orangered,
    orange,
    gold,
    lightgreen,
    cyan,
    dodgerblue,
    mediumpurple,
    hotpink,
    orangered
  );
  background-size: 110vw;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: rainbowan 60s linear infinite;
  animation: rainbowan 60s linear infinite;
}

/** 空心字体 **/
span[alt="hollow"]{
    color:white;
    text-shadow:1px 1px black,-1px -1px black,1px -1px black,-1px 1px black;
}
/** 闪烁字体 **/
@keyframes blink-smooth{50%{color:transparent;}}
span[alt="blink"]{
  animation:.5s blink-smooth infinite alternate linear;
}
