@import url(./font/fonts.css);

@import url(./a.css); /*超链接*/
@import url(./blockquote.css); /*引用*/
@import url(./checkbox.css); /*多选框*/
@import url(./code.css); /*代码*/
@import url(./dropdown.css); /**/
@import url(./footer.css); /*脚注*/
@import url(./headline.css); /*标题*/

@import url(./image.css); /*图片*/
@import url(./list.css); /*列表*/
@import url(./math.css); /*latex*/
@import url(./notification.css); /**/
@import url(./preferences.css); /**/
@import url(./slidebar.css); /*侧边栏*/
@import url(./span.css); /*自定义span 标签样式*/
@import url(./table.css); /*表格*/
@import url(./toc.css); /*目录*/





:root {
    --bg-color: white; /*背景色*/
    --side-bar-bg-color: #f5f7f9; /*侧边栏背景色*/
    --control-text-color: #3b454e;
    --primary-color: #15ac8e;
    --primary-btn-border-color: #15ac8e;
    --active-file-bg-color: #e6ecf1;
    --active-file-text-color: inherit;
    --active-file-border-color: #15ac8e;
    --item-hover-text-color: #242a31;
    --item-hover-bg-color: #f5f7f9;
    --window-border: 1px solid #e6ecf1;
    --select-text-font-color: white;
    --select-text-bg-color: #11977d;

    --md-char-color: #9daab6;
    --heading-char-color: #9daab6;
    --meta-content-color: #15ac8e;

    --borders: #e6ecf1;
    --borders-top-margin: #E5E5E5; /* for dark borders below top margin */
    --table-border-color: #e6ecf1;
    --boxes: #f5f7f9;
    --boxes-darker: #d8e0e7;
    --boxes-darker2: #bac2c9;
    --boxes-darkest: #9daab6;
    --drag-placeholder-color: #d8e0e7;

    --text-color: #3b454e;
    --heading-text-color: #242a31;
    --light-text-color: #9daab6;
    --light-text-color-darker: #74818d;
    --codeboxes: #292a2b;
    --codeboxes-lighter: #1c375f;
    --rawblock-edit-panel-bd: transparent;

    --primary-color-darkest: #083d33;
    --primary-color-darker2: #0d5748;
    --primary-color-darker: #11977d;
    --focus-ring-color: #15ac8e;

    --danger-color: rgb(255, 70, 66);

    --node-fill: #ececff;
    --node-border: #ccccff;
    --cluster-fill: #ffffde;
    --cluster-border: #aaaa33;
    --note-fill: #fff5ad;
    --note-border: #aaaa33;



    --code-icon-red: #ff5f5a;
    --code-icon-yellow: #ffbe2e;
    --code-icon-green: #2aca44;


    /*****************************/

    --text-font:  "Roboto", sans-serif;

    --font-family: "Roboto", sans-serif;
    /* --code-font-family: "代码字体", "JetBrains Mono" , "Fira Code" , YZhengYuan, "Fira Code" , Menlo, "Ubuntu Mono", "Source Code Pro"; */
    /* --code-font-family: "代码字体", "Fira Code" , "JetBrains Mono", YZhengYuan, "Fira Code" , Menlo, "Ubuntu Mono", "Source Code Pro"; */
    --code-font-family: "Source Code Pro";
    --monospace: "Source Code Pro";


}


html,
.form-control,
.modal {
    font-size: 16px;
}

body {
    background: var(--bg-color);
    font-family: var(--font-family);
    font-weight: 400;
    color: #3b454e;
    line-height: 1.6rem;
    height: 100%;
}


#write {
    font-size: 0.95rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 30px;
    padding-bottom: 100px;
    position: static;
    width: 100%;
}




hr {
    height: 1px;
    padding: 0;
    margin: 16px 0;
    background-color: var(--borders);
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}



.md-blockmeta {
    color: var(--md-char-color);
}

mark {
    background-color: var(--primary-color);
    color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}







.html-for-mac .ty-cm-lang-input:empty:after {
    left: 0.5rem;
}

.autoComplt-list li,
.fences-auto-suggest li {
    font-weight: 500;
    transition-duration: 0.3s;
    transition-property: background-color, color;
}

.autoComplt-list li.active,
.fences-auto-suggest li:hover {
    background-color: var(--boxes);
    color: var(--primary-color);
}

.md-fences,
tt {
    border-radius: 0.3rem;
    color: #ffffff;
    padding: 1.5rem;
    font-size: 0.8rem;
}


code {
    padding: 0.2rem 0.4rem;
    background-color: var(--borders);
    font-size: 0.9rem;
    border-radius: 0.2rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.md-fences .CodeMirror div.CodeMirror-cursor,
#typora-source div.CodeMirror-cursor {
    border-left: solid 1px white;
}

.md-fences {
    margin-bottom: 3.5rem;
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 6px;
    background-color: var(--codeboxes);
    box-shadow: 5px 5px 5px #aaa;
    /* border-left: 4px solid #fff;
    border-top: 4px solid #fff; */
    border-radius: 7px;
}

/* 鼠标经过时阴影效果 */
.md-fences:hover {
    /* box-shadow: 1px 1px 10px blue; */
    box-shadow: 1px 1px 10px #2a6fd6;
    /* transition: all .1s; */
    transform: scale(1.0007);
}

#typora-source {
    background-color: var(--codeboxes);
    color: white;
    font-size: 0.9rem;
}

/*DIAGRAMS*/

.md-diagram-panel {
    color: var(--text-color);
    border: solid 1px var(--borders);
    border-radius: 0.3rem;
}

.md-diagram-panel text,
.md-diagram-panel .label {
    color: var(--text-color);
}

.md-diagram-panel text {
    fill: var(--text-color) !important /*required*/;
}

.md-diagram-panel-error {
    color: var(--danger-color);
}



@media print {
    html {
        font-size: 13px;
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}

#write pre.md-meta-block {
    padding: 1rem;
    line-height: 1.45;
    background-color: var(--boxes);
    border: 0;
    border-radius: 0.3rem;
    color: var(--text-color);
    border-left: solid 4px var(--boxes-darkest);
}

#write pre.md-meta-block:empty:before {
    color: var(--light-text-color);
}

.md-image > .md-meta {
    border-radius: 3px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: var(--md-char-color);
    opacity: 1;
}















/*DROPDOWN*/

.dropdown-menu:not(.megamenu-menu-list),
.auto-suggest-container {
    background-color: var(--bg-color);
    border: solid 1px var(--borders) !important;
    box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
    user-select: none;
}

.dropdown-menu > li > a,
.auto-suggest-container li {
    font-weight: 500;
    font-size: 0.8rem;
    transition-duration: 0.2s;
    transition-property: all;
}

.dropdown-menu > .active > a,
.dropdown-menu > li > a:hover,
.menu-style-btn.active,
.auto-suggest-container li:hover,
.context-menu.dropdown-menu > .active > a,
.context-menu.dropdown-menu > li > a:hover,
.auto-suggest-container li.active {
    color: var(--primary-color);
    background-color: var(--boxes);
}

.menu-style-btn {
    color: var(--text-color);
    border: none;
    transition-duration: 0.2s;
    transition-property: all;
}

.menu-style-btn:hover {
    color: var(--primary-color);
    background-color: var(--boxes);
    border: none;
}

header .menu-style-btn:hover {
    background-color: transparent;
}

.menu-item-container {
    padding: 0 12px 0 4px;
}

.menu-item-container a.menu-style-btn {
    padding: 0.3rem 0.6rem;
    margin: 0;
}

.dropdown-menu .divider {
    border-color: var(--borders);
    opacity: 1;
}

/*BUTTON*/

.btn,
button {
    border: none !important;
    border-radius: 0.3rem !important;
    color: var(--text-color) !important;
    transition-duration: 0.2s;
    transition-property: all;
    font-size: 0.9rem !important;
    font-weight: 500;
    outline: none;
}

.btn-default {
    border: none !important;
    border-radius: 0.3rem !important;
    background-color: var(--boxes) !important;
}

.btn:hover,
.button-hover {
    border: none;
    border-radius: 0.3rem;
    background-color: var(--borders) !important;
    color: var(--text-color);
}

button:active,
button.active,
.btn:active,
.btn-default:active {
    border: none;
    border-radius: 0.3rem;
    background-color: var(--boxes-darker) !important;
    box-shadow: none;
    outline: none;
    color: var(--text-color);
}

.btn:focus {
    border: none !important;
    outline: none !important;
    background-color: var(--boxes-darker);
}

.btn-primary {
    border: none;
    border-radius: 0.3rem;
    background-color: var(--primary-color);
    color: white !important;
}

.btn-primary:hover,
.btn-primary:focus {
    color: white;
    background-color: var(--primary-color-darker) !important;
}

.btn.dropdown-toggle-split,
.btn.dropdown-toggle-split:hover {
    border-radius: 0rem 0.3rem 0.3rem 0rem !important;
}

#ty-spell-check-dict-missing-primary-btn {
    border-radius: 0.3rem 0rem 0rem 0.3rem !important;
}

.open > .dropdown-toggle.btn-primary {
    background-color: var(--primary-color);
    border-color: transparent;
}

/*GHOST BUTTON*/

.window-header button,
#close-sidebar-menu-btn,
.html-for-mac .sidebar-tab-btn,
.label-hint,
.ty-table-edit .btn,
.zoom-hint-button,
.md-rawblock-tooltip-btn,
.md-delete-toc,
#md-searchpanel .input-group-addon.btn,
#pin-outline-btn,
.icon-button {
    background-color: transparent !important;
    color: var(--light-text-color) !important;
    opacity: 1 !important;
    transition-duration: 0.2s;
    transition-property: color;
}

.window-header button:hover,
.window-header button:focus,
#close-sidebar-menu-btn:hover,
#close-sidebar-menu-btn:focus,
.html-for-mac .sidebar-tab-btn:hover,
.html-for-mac .sidebar-tab-btn:focus,
.label-hint:hover,
.label-hint:focus,
.ty-table-edit .btn:hover,
.ty-table-edit .btn:focus,
.zoom-hint-button:hover,
.zoom-hint-button:focus,
.md-rawblock-tooltip-btn:hover,
.md-rawblock-tooltip-btn:focus,
.md-delete-toc:hover,
.md-delete-toc:focus,
#md-searchpanel .input-group-addon.btn:hover,
#md-searchpanel .input-group-addon.btn:focus,
#pin-outline-btn:hover,
#pin-outline-btn:focus,
.icon-button:hover,
.icon-button:focus {
    color: var(--primary-color) !important;
    background: none !important;
}

.ty-table-edit .btn.active {
    color: var(--primary-color) !important;
    box-shadow: none;
}

/*IMAGE BUTTON*/

.md-image-btn {
    background-color: var(--boxes);
    transition-duration: 0.2s;
    transition-property: background-color;
}

.md-image-btn:before {
    color: var(--text-color);
    transition-duration: 0.2s;
    transition-property: color;
}

.md-image-btn:hover {
    background-color: var(--borders);
}

.md-image-btn:hover:before {
    color: var(--primary-color);
}

.md-image-input-src-btn {
    border-radius: 0.3rem 0rem 0rem 0.3rem !important;
}

.md-image-pick-file-btn {
    border-left: none;
    border-radius: 0rem 0.3rem 0.3rem 0rem !important;
}

/*SEARCH-INPUTS*/

.search-input,
.search,
.form-control,
#file-library-search-input {
    background-color: transparent !important;
    border-radius: 0.3rem !important;
    border: solid 1px var(--boxes-darker) !important;
    box-shadow: none !important;
    color: var(---heading-text-color) !important;
    font-size: 0.9rem !important;
    font-weight: 400;
    padding: 0.7rem !important;
    height: 2rem;
    transition-duration: 0.2s;
    transition-property: border, box-shadow;
}

.search-input:hover,
.search:hover,
.form-control:hover,
#file-library-search-input:hover {
    border: solid 1px var(--boxes-darker2) !important;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04) !important;
}

.search-input:focus,
.search:focus,
.form-control:focus,
#file-library-search-input:focus {
    background-color: transparent !important;
    border-color: var(--primary-color) !important;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04) !important;
    color: var(--heading-text-color) !important;
    font-size: 0.9rem !important;
    padding: 0.7rem !important;
}

.search-input::placeholder,
.search::placeholder,
.form-control::placeholder,
#file-library-search-input::placeholder {
    color: var(--light-text-color-darker) !important;
}

.clear-btn-icon {
    top: 9px !important /*required*/;
    right: 9px !important /*required*/;
}

.content tr.search-hit,
.search-hit,
.md-search-hit,
/*.md-search-hit.md-search-select,*/
.md-search-select,
.ty-file-search-match-text {
    background-color: var(--boxes-darkest);
    color: white;
    padding: 0.2rem 0.1rem;
    border-radius: 0.2rem;
}

.md-search-hit.md-search-select {
    background-color: var(--select-text-bg-color);
} /* distinguishes text search selected from text search matched */

/*ZOOM HINT*/

#zoom-hint {
    border-radius: 0.3rem;
    border: solid 1px var(--borders);
    user-select: none;
    box-shadow: rgba(116, 129, 141, 0.08) 0px 2px 6px 0px;
}

#zoom-hint #zoom-hint-reset {
    border-left: none;
    font-weight: 600;
}

/*SEARCHPANEL*/

#md-searchpanel {
    border-bottom: 1px solid var(--borders);
    box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
    max-height: 46px;
}

.mac-seamless-mode #md-searchpanel {
    max-height: 70px;
}

#md-searchpanel.searchpanel-replace-mode {
    max-height: 84px;
}

.mac-seamless-mode #md-searchpanel.searchpanel-replace-mode {
    max-height: 108px;
}

#md-searchpanel input {
    height: 2rem;
    margin: 0rem !important;
    padding: 6px 12px !important;
    font-size: 12px !important;
}

#md-searchpanel .input-group-addon {
    height: 2rem;
}

#md-searchpanel .input-group-addon.close-btn {
    padding-left: 8px;
}

.unibody-window #md-searchpanel .btn {
    line-height: 2rem;
}

.searchpanel-search-option-btn {
    top: 9px;
    border: none;
    color: var(--light-text-color-darker) !important /*required*/;
    transition-duration: 0.3s;
}

.searchpanel-search-option-btn:hover {
    color: var(--primary-color) !important /*required*/;
    background-color: transparent !important /*required*/;
}

.searchpanel-search-option-btn.select,
.searchpanel-search-option-btn.active {
    color: white !important;
    background-color: var(--primary-color) !important;
}

#searchpanel-regexp-option-btn {
    right: 57px;
}

#searchpanel-case-option-btn {
    right: 33px;
}

#searchpanel-word-option-btn {
    right: 9px;
}

#searchpanel-word-option-btn,
#searchpanel-case-option-btn {
    background: none;
}

#md-searchpanel .btn:not(.close-btn):hover {
    box-shadow: none;
}

/*SELECT*/
/*TEXT INPUT*/
/*NUMBER INPUT*/

/* the input #md-grid-height doesn't have a type attached for some reason and needs to be adressed seperately */

html select,
html input[type="text"],
html input[type="number"],
#md-grid-height {
    background-color: var(--bg-color) !important;
    border-radius: 0.3rem !important;
    border: solid 1px var(--boxes-darker) !important;
    box-shadow: none !important;
    color: var(--text-color) !important;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    padding: 0.3rem !important;
    height: 2.1rem !important;
    transition-duration: 0.2s;
    transition-property: border;
    cursor: text;
}

select {
    cursor: pointer !important;
}

input[type="text"],
input[type="number"] {
    cursor: text;
}

html select:hover,
html input[type="text"]:hover,
html input[type="number"]:hover,
#md-grid-height:hover {
    background-color: var(--bg-color) !important;
    border-radius: 0.3rem !important;
    border-color: var(--boxes-darker2) !important;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04) !important;
    color: var(--text-color) !important;
    font-size: 0.9rem !important;
}

html select:focus,
html input[type="text"]:focus,
html input[type="number"]:focus,
#md-grid-height:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04) !important;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
#md-grid-height::placeholder {
    color: var(--light-text-color-darker) !important;
}

input[disabled],
input[disabled]:hover,
input[disabled]:focus {
    cursor: not-allowed;
}

/*TEXTAREA*/

textarea {
    background-color: transparent;
    border: solid 1px var(--boxes-darker);
    border-radius: 0.3rem;
    transition-duration: 0.2s;
}

textarea:hover {
    border-color: var(--boxes-darker2);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
}

textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    outline: none;
}

/*MODAL*/

.modal-header,
#common-dialog .modal-header {
    border-bottom: solid 1px var(--borders);
    padding-bottom: 15px;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: 500;
    user-select: none;
}

.modal-body {
    font-size: 0.9rem;
    color: var(--light-text-color-darker);
    user-select: none;
}

.modal-content {
    box-shadow: rgba(116, 129, 141, 0.15) 0px 3px 10px 0px;
    border: solid 1px var(--boxes-darker);
    border-radius: 0.3rem;
}

.modal-footer {
    border-top: solid 1px var(--borders);
}

.modal-open .modal.fade.in {
    background: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/*LANGS*/

.ty-spell-check-panel-item {
    font-weight: 500;
    transition-duration: 0.2s;
    transition-property: background-color, color;
}

.ty-spell-check-panel-item:hover {
    color: var(--primary-color);
    background-color: var(--boxes);
}

.ty-spell-check-panel-item.ty-active {
    background-color: var(--boxes);
}

/*TOOLTIP*/

.ty-tooltip {
    background-color: var(--bg-color) !important;
    border-radius: 0.3rem !important;
    border: 1px solid var(--borders) !important;
    -webkit-filter: none !important;
    filter: none;
    box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
}



/*MEGAMENU*/

.megamenu-menu {
    box-shadow: none;
    background-color: var(--boxes);
    border-right: 1px solid var(--borders);
}

.megamenu-opened .megamenu-menu {
    left: 0px;
}

#megamenu-content {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#megamenu-menu-list {
    box-shadow: none;
    border: none;
    background-color: transparent;
}

#megamenu-menu-list li a {
    color: var(--text-color);
    height: 2rem;
    line-height: 1.8rem;
    transition-duration: 0.2s;
    transition-property: background-color;
}

#megamenu-menu-list li a:hover {
    background-color: var(--borders);
}

#megamenu-menu-list li a.active {
    color: var(--primary-color);
    background-color: white;
    outline: solid 1px var(--borders);
}

#megamenu-menu-list .divider {
    background-color: var(--borders);
    margin: 16px 0 0 0;
}

.megamenu-menu-list .saved #m-saved {
    cursor: default;
}

.megamenu-menu-list .saved #m-saved .fa {
    color: var(--primary-color);
}

.megamenu-menu-list .saved #m-saved:hover {
    background-color: transparent;
}

.megamenu-menu-list #m-close:hover {
    color: var(--danger-color);
}

.megamenu-menu-header {
    border-bottom: solid 1px var(--borders);
    margin-bottom: 1.2rem;
    height: 74px;
    transition-duration: 0.3s;
}

.megamenu-menu-header:hover {
    background-color: var(--borders);
}

.megamenu-menu-header #megamenu-menu-header-title {
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
    left: 56px;
    top: 24px;
}

#megamenu-back-btn {
    color: var(--text-color);
    font-size: 16px;
    left: 24px;
    top: 24px;
}

.megamenu-opened header {
    background-color: var(--bg-color);
    background-image: none;
}

.megamenu-content {
    background-color: var(--bg-color);
    background-image: none;
}

.megamenu-menu-panel:not(:first-of-type) {
    margin-top: 2rem;
}

.megamenu-menu-panel h1 {
    font-weight: 900;
    font-size: 1.8rem;
    margin: 1rem 0rem 0.4rem 0rem;
}

.megamenu-menu-panel h2 {
    font-weight: 800;
    font-size: 1.3rem;
    margin: 1rem 0rem 0.4rem 0rem;
}

/*recent files*/

#recent-file-panel tbody tr {
    font-weight: 600;
    transition-duration: 0.4s;
}

#recent-file-panel tbody tr:hover,
.megamenu-menu-panel tbody tr:hover td:nth-child(1) {
    color: var(--primary-color);
}

#recent-file-panel tbody tr:nth-child(2n-1) {
    background-color: var(--boxes);
}

/*about help*/

.about-content-slogon {
    color: var(--light-text-color);
}

/*for the god himself*/
.about-content-slogon span {
    color: var(--primary-color) !important;
}

#about-content tbody tr {
    font-weight: 500;
    transition-duration: 0.4s;
}

#about-content tbody tr:hover {
    color: var(--primary-color);
    background-color: var(--boxes) !important /*required important*/;
}

.long-btn {
    margin-bottom: 12px;
    margin-left: 2px;
    box-shadow: rgba(116, 129, 141, 0.1) 2px 2px 6px;
    background-color: white;
    border: 1px solid var(--borders);
    border-radius: 0.3rem;
    padding: 1rem;

    font-weight: 700;
    font-size: 1rem;

    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.long-btn:hover {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: white !important /*important required*/;
    box-shadow: rgba(116, 129, 141, 0.1) 2px 2px 6px,
        rgba(26, 168, 139, 0.2) 0px 0px 10px;
}

#m-import-local:hover .preference-item-hint {
    color: white;
    opacity: 0.7;
}

#recent-file-panel-action-btn {
    height: 34px;
    border: none;
    background-color: var(--boxes);
}

#theme-preview-grid {
    max-width: none;
    padding: 1.5rem;
    background-color: var(--boxes);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.5rem;
}

.theme-preview-div {
    border: none;
    border-radius: 0.4rem;
    box-shadow: rgba(116, 129, 141, 0.1) 0px 0px 15px;
    margin: 0rem;
    transition-duration: 0.3s;
}

.theme-preview-div:hover {
    box-shadow: rgba(116, 129, 141, 0.5) 3px 8px 15px;
    cursor: pointer;
    transform: rotate3d(1, -0.2, 0.2, 15deg);
}

.theme-preview-content {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
}

.theme-preview-content html {
    width: 100%;
    height: 100%;
}

.theme-preview-div.active .fa {
    color: var(--primary-color);
    bottom: 4px;
    left: 4px;
}

.theme-preview-div .fa-check-circle:before {
    background-color: var(--bg-color);
    padding: 0px 2px;
    border-radius: 1rem;
}

.megamenu-menu-panel tbody tr {
    border-radius: 0.3rem;
    transition-duration: 0.2s;
    transition-property: background-color;
}

.megamenu-menu-panel tbody tr:hover {
    background-color: var(--borders) !important /*required important*/;
}

/*MIN MAX CLOSE*/
#w-min,
#w-max,
#w-restore,
#w-close {
    border-radius: 0px !important;
    font-size: 10px !important;
    width: 46px !important;
    height: 29px !important;
}

.btn.toolbar-icon svg,
.btn.toolbar-icon .ty-icon {
    position: relative;
    top: 2px;
}

#w-close.btn.toolbar-icon .ty-icon {
    left: 1px;
}

#w-close:hover {
    background-color: var(--danger-color) !important;
    color: white !important;
}

/*EXTRA STUFF*/



p[type="description"] {
    color: var(--light-text-color);
}

/*kbd*/

kbd {
    font-family: var(--font-family);
}
