/*TOC*/

.md-toc {
    margin: 1.5rem 0rem;
}

.md-toc:focus .md-toc-content {
    border: none;
}

#write div.md-toc-tooltip {
    background-color: var(--boxes);
    line-height: 1.6rem;
    padding: 0.3rem 0.75rem;
    border-top: none;
    border-radius: 0.3rem;
}

.md-toc.md-focus {
    margin-top: 4.5rem;
}

#write div.md-toc-tooltip + .md-toc-content {
    padding-top: 1rem;
}

.md-delete-toc {
    padding: 0px;
}